---
import LinkedValue from "./LinkedValue.astro";

interface Props {
  entries: Array<[string, unknown]>;
  heading?: string;
}

const { entries, heading = "Metadata" } = Astro.props;
---

<div class="scene">
  <h2>{heading}</h2>
  <div class="meta-list">
    {entries.map(([key, value]) => (
      <div class="meta-row">
        <div class="meta-key">{key}</div>
        <div class="meta-value"><LinkedValue value={value} /></div>
      </div>
    ))}
  </div>
</div>
